{% extends "base.html" %}
{% load static %}

{% block content1 %}
<div class="col-sm-6">
  <h3 class="text-center">Apa itu Django ?</h3>
  <p>Django adalah sebuah kerangka kerja full-stack untuk membuat aplikasi web dengan bahasa pemrograman python. Django juga merupakan kerangka kerja python web tingkat tinggi yang dapat melakukan pengembangan aplikasi dengan cepat dan memiliki desain pragmatis yang bersih</p>
</div>
<div class="col-sm-6 text-center">
  <img style="width:100%;" src="{% static 'img/logo-django.png' %}">
</div>
{% endblock content1 %}

{% block content2 %}
<h3 class="text-center">Kenapa harus pakai Django ?</h3>
<p>With Django, you can take web applications from concept to launch in a matter of hours. Django takes care of much of the hassle of web development, so you can focus on writing your app without needing to reinvent the wheel. It’s free and open source.</p>
<div class="row mt-3">
  <div class="col-sm-6">
    <h4 class="text-center">Ridiculously fast</h4>
    <p>Django was designed to help developers take applications from concept to completion as quickly as possible.</p>
  </div>
  <div class="col-sm-6">
    <h4 class="text-center">Fully loaded</h4>
    <p>Django includes dozens of extras you can use to handle common web development tasks. Django takes care of user authentication, content administration, site maps, RSS feeds, and many more tasks — right out of the box.</p>
  </div>
  <div class="col-sm-6">
    <h4 class="text-center">Reassuringly secure</h4>
    <p>Django takes security seriously and helps developers avoid many common security mistakes, such as SQL injection, cross-site scripting, cross-site request forgery and clickjacking. Its user authentication system provides a secure way to manage user accounts and passwords.</p>
  </div>
  <div class="col-sm-6">
    <h4 class="text-center">Exceedingly scalable</h4>
    <p>Some of the busiest sites on the planet use Django’s ability to quickly and flexibly scale to meet the heaviest traffic demands.</p>
  </div>
</div>
{% endblock content2 %}
